@import url('https://fonts.googleapis.com/css2?family=Agency+FB');

body {
	background-color: #282828;
	color: #00ff5a;
	text-align: center;
}

h1 {
	color: #ffee45;
	text-align: center;
	font-family: 'Agency FB';
	font-weight: bold;
	font-size: 350%;
}

h3 {
	margin-top: 2%;
}

button {
	margin-top: 1%;
}