<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo App</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
</head>

<body>
	<h1 style="text-align:center; margin: 2%; font-size: 350%;">To-do List</h1>

	{% if exist==1 %}
		<script>
			alert("Task ID already exists. Please, try different Task ID");
		</script>
	{% endif %}

	<div>
		<form action="{{ url_for('add') }}" method="POST">
			<div class="input-group mb-3" style="width: 15%; margin: auto;">
				<div class="input-group-prepend">
					<span class="input-group-text">Task ID:</span>
				</div>
				<input type="text" name="todoid" class="form-control" required" />
			</div>

			<div class="input-group mb-3" style="width: 25%; margin: auto;">
				<div class="input-group-prepend">
					<span class="input-group-text">Task:</span>
				</div>
				<input type="text" name="todoitem" class="form-control" />
			</div>

			<input type="submit" value="Add Item" class="btn btn-primary">
		</form>
	</div>

	<div>
		<h3>Incomplete Items</h3>
		<section>
			<table class="table table-dark" style="width: 90%; margin: auto;">

				{% if incomplete %}
				<thead>
					<tr>
						<td></td>
						<td>ID</td>
						<td>Task</td>
					</tr>
				</thead>

				{% for todo in incomplete %}
				<tbody>
					<tr>
						<td style="width: 25%;"><a href="{{ url_for('complete', id=todo.id) }}">Mark As Complete</a></td>
						<td style="width: 10%;">{{ todo.id }}</td>
						<td>{{ todo.text }}</td>
					</tr>
				</tbody>
				{% endfor %}

				{% else %}
				<tbody>
					<tr>
						<td>No pending tasks</td>
					</tr>
				</tbody>
				{% endif %}
			</table>
		</section>

		<h3>Completed Items</h3>
		<section>
			<table class="table table-dark" style="width: 90%; margin: auto;">
				{% if complete %}
				<thead>
					<tr>
						<td>ID</td>
						<td>Task</td>
					</tr>
				</thead>

				{% for todo in complete %}
				<tbody>
					<tr>
						<td style="width: 25%;">{{ todo.id }}</td>
						<td>{{ todo.text }}</td>
					</tr>
				</tbody>
				{% endfor %}

				{% else %}
				<tbody>
					<tr>
						<td>No completed tasks</td>
					</tr>
				</tbody>
				{% endif %}
			</table>
		</section>

		<a href="{{ url_for('clear_completed') }}"><button class="btn btn-warning">Clear Completed</button></a> <br />
		<a href="{{ url_for('reset') }}"><button class="btn btn-danger">Clear All Items</button></a>
	</div>
</body>
</html>
